.App {
  text-align: center;
}

.header-title {
  font-size: 2rem;
  font-family: sans-serif;
  margin: 2rem 0;
  font-weight: bolder;
}
.header-paragraph {
  font-size: 1rem;
  font-style: italic;
}
.dropdown__container-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}
.main__body {
  margin: 2rem;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 500;
}
